html {
    background-color: #f2f7ff;
    font-family: arial
}

#progress {
    font-size: 8vw;
    text-align: center
}

#body_container {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#card_container {
    width: 100%;
    overflow: hidden;
    font-size: 10vw;
    padding: 1vw 1vw 3vw
}

button,
input {
    font-size: 7vw;
    box-shadow: .5vw .5vw .5vw #afafaf;
    margin: 5px;
    vertical-align: middle;
    text-align: center
}

#back,
#flip-container,
#front {
    width: 50vw;
    height: 50vw;
    text-align: center;
    vertical-align: middle;
    line-height: 50vw;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden
}

#flipper {
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
    height: 50vw;
    line-height: 50vw;
    background-color: #1C86EE;
    border-radius: 5vw;
    box-shadow: 1vw 1vw 1vw #afafaf;
    cursor: pointer
}

#back,
#front {
    position: absolute;
    color: #fff
}

#back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg)
}

input {
    width: 65vw;
    height: 8vw;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    padding: 7px;
    outline: 0;
    line-height: 3vw
}

button {
	border: solid 1px rgb(230, 230, 230);
	background-color: rgb(235, 235, 235);
	color: rgb(110, 110, 110);
	border-radius: 2vw;

	padding: 2vw;
	width: 10vw
}

#input_conatiner {
    width: 100%;
    text-align: center;
    margin: auto
}
