#progress {
	font-size: 5vw;
	text-align: center;
}

#body_container {
	margin: auto;
	width: 90%;
}

#card_container {
	width: 100%;
	overflow: hidden;
	font-size: 5vw;
	padding: 10px;
}

#flip-container, #front, #back {
	width: 50vw;
	height: 50vw;

	text-align: center;
	vertical-align: middle;
	line-height: 50vw;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#flipper {
	transform-style: preserve-3d;
	position: relative;
	text-align: center;
	height: 50vw;
	line-height: 50vw;

	background-color: #1C86EE;
	border-radius: 5vw;
	box-shadow: 0.5vw 0.5vw 0.5vw rgb(175, 175, 175);
}

#front, #back {
	position: absolute;
}

#front {
	color: white;
}

#back {
	color: white;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

button {
	height: 7vw;
	width: auto;
	font-size: 5vw;

	border: solid 1px rgb(230, 230, 230);
	background-color: rgb(235, 235, 235);
	color: rgb(110, 110, 110);
	border-radius: 5px;
	box-shadow: 0.25vw 0.25vw 0.25vw rgb(175, 175, 175);

	padding: 5px;
	margin: 5px;

	text-align: center;
	vertical-align: middle;
	line-height: 5vw;
}

 input {
	width: 50vw;
	height: 5vw;
	font-size: 5vw;
	border-radius: 2px;
	border: solid rgb(230, 230, 230) 1px;
	box-shadow: 0.25vw 0.25vw 0.25vw rgb(175, 175, 175);
	padding: 7px;
	margin: 5px;
	outline: none;

	vertical-align: middle;
	line-height: 3vw;

	text-align: center;
}

#input_conatiner {
	width: 100%;
	text-align: center;
	margin: auto;
}
